{% extends 'base.html' %}
{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}
<div class="content-wrapper">
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">🥦Main page</a>
        <a href="javascript:javascript:history.go(-1)">⬅Back</a>
        <div class="user">
            {% if user.is_authenticated %}
            <p class="user"><a href="{% url 'my_recipe_list' %}">My Recipes</a></p>
            <p class="user"><a href="{% url 'logout' %}">Logout</a></p>
            <p class="user">Hello, {{ user.first_name }}🥦</p>
            {% else %}
            <p class="user"><a href="{% url 'signup' %}">Sign Up</a></p>
            <p class="user"><a href="{% url 'login' %}">Login</a></p>
            {% endif %}
        </div>
    </nav>
</header>
<main>
    <h1 class="title center">Create a recipe.</h1>
    <div class="center">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
      </form>
      </div>
</main>
</div>
{% endblock content %}
