{% extends 'base.html' %}
{% block title %}
{{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
<div class="content-wrapper">
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">🥦Main page</a>
        <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
        <div class="user">
            {% if user.is_authenticated %}
            <p class="user"><a href="{% url 'create_recipe' %}">Create Recipe</a></p>
            <p class="user"><a href="{% url 'my_recipe_list' %}">My Recipes</a></p>
            <p class="user"><a href="{% url 'logout' %}">Logout</a></p>
            <p class="user">Hello, {{ user.first_name }}🥦</p>
            {% else %}
            <p class="user"><a href="{% url 'signup' %}">Sign Up</a></p>
            <p class="user"><a href="{% url 'login' %}">Login</a></p>
            {% endif %}
        </div>
    </nav>
</header>
<main>
    <h1 class="title center">{{ recipe_object.title }}</h1>
    <p class="center"><img src="{{ recipe_object.picture }}"></p>
    <div class="center"><br>4.3 stars</div>
    <p class="center">{{ recipe_object.created_on|date:"D F d, Y"}}</p>
    <p class="text center">{{ recipe_object.description }}</p>
    <div><p class="title center">Ingredients</p></div>
    <div class="center">
    <table class="text">
        <thead>
            <tr>
                <th>Amount<br><br></th>
                <th>Food Item<br><br></th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in recipe_object.ingredients.all %}
            <tr>
                <td><br>{{ ingredient.amount }}</td>
                <td><br>{{ ingredient.food_item }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div><p class="title center">Instructions</p></div>
    <ol class="text center">
        {% for step in recipe_object.steps.all %}
            <li>{{ step.instruction }}</li><br><br><br><br>
        {% endfor %}
    </ol>
</main>
</div>
{% endblock content %}
