{% extends 'base.html' %}
{% block title %}
{{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
<div class="content-wrapper">
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">🥦Main page</a>
        <a href="{% url 'show_recipe' recipe_object.id %}">⬅Back</a>
        <div class="user">
            {% if user.is_authenticated %}
            <p class="user"><a href="{% url 'create_recipe' %}">Create Recipe</a></p>
            <p class="user"><a href="{% url 'my_recipe_list' %}">My Recipes</a></p>
            <p class="user"><a href="{% url 'logout' %}">Logout</a></p>
            <p class="user">Hello, {{ user.first_name }}🥦</p>
            {% else %}
            <p class="user"><a href="{% url 'signup' %}">Sign Up</a></p>
            <p class="user"><a href="{% url 'login' %}">Login</a></p>
            {% endif %}
        </div>
    </nav>
</header>
<main>
    <h1 class="title center">Edit this recipe.</h1>
    <div class="center">
        <form method="post">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        <button>Save</button>
      </form>
      <!-- {% for ingredient in recipe_object.ingredients.all %}
      <form method="post">
        {% csrf_token %}
        {{ ingredient_form.as_p }}
        <button>Save</button>
      </form>
      {% endfor %} -->
    </div>
</main>
</div>
{% endblock content %}
