{% extends 'base.html' %}
{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}
<div class="content-wrapper">
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">🥦Main page</a>

        {% if user.is_authenticated %}
        <p class="user"><a href="{% url 'create_recipe' %}">Create a recipe</a></p>
        <p class="user"><a href="{% url 'my_recipe_list' %}">My Recipes</a></p>
        <p class="user"><a href="{% url 'logout' %}">Logout</a></p>
        <p class="user">Hello, {{ user.first_name }}🥦</p>
        {% else %}
        <p class="user"><a href="{% url 'signup' %}">Sign Up</a></p>
        <p class="user"><a href="{% url 'login' %}">Login</a></p>
        {% endif %}

    </nav>
</header>
<main>
    <h1 class="title center">Scrumptious Recipes</h1>
    <h2 class="center">All the food that's fit to eat</h2>
    <div class="recipe-grid">
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <p class="center"><a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a></p>
            </h3>
            <img src="{{ recipe.picture }}">
            <div class="center"><br>4.3 stars</div>
            <p class="center">{{ recipe.created_on|date:"D F d, Y"}}</p>
      </div>
      {% endfor %}
    </div>
  </main>
</div>
{% endblock content %}
