@import url(http://fonts.googleapis.com/css?family=Roboto);

a {
    text-decoration-line: none;
    font-size: 25px;
    color: rgb(8, 85, 94);
    font-family: 'Roboto', sans-serif;
}

a:hover {
    color: rgb(113, 146, 179);
    transform: scale(1.01);
    transition: .4s ease-in;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url('https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsX29mZmljZV8yMF9waG90b19vZl9raXRjaGVuX3RhYmxlX193aGl0ZV9fY2xlYW5fX2lzb2xhdF8zOTU0NjFhNy1jNzU3LTRlMGEtOTkyMy00OGU0MTI1MjhlYTdfMS5qcGc.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgb(255, 189, 199, 50%);
    display: grid;
    gap: 50px;
}

nav {
    border-bottom: 1px solid black;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-content: center;
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
    height: 70px;
    margin-top: 0px;
    background-color: rgb(169, 205, 169);
}

.user {
    color: rgb(8, 85, 94);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-top: 0px;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.user:hover {
    color: rgb(113, 146, 179);
    transform: scale(1.01);
    transition: .4s ease-in;
}

main {
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 100px;
    box-sizing: inherit;
}

.title {
    color: darkorchid;
    font-weight: bold;
    font-size: 50px;
    padding-top: 70px;
    justify-content: center;
}

.recipe-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.center {
    display: grid;
    justify-content: center;
    text-align: center;
}

.text {
    background-color: rgb(255, 255, 255, 80%);
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px grey;
}

img:hover {
    transform: scale(1.01);
    transition: .4s ease-in;
}

body > footer {
    margin:0px;
    bottom: 0px;
    padding-block: 20px;
    padding-left: 20px;
    min-width:100%;
    max-width:100%;
    height:auto;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 182, 193, 50%);
}

::-webkit-scrollbar {
    width: 0px; /** width of total scrollbar **/
    background: #ffc99c; /** background of scrollbar **/
    border: 0px solid #000; /** border around whole scrollbar **/
    }

.broccoli {
    height: 125px;
    width: 125px;
    box-shadow: none;
    background-color: transparent;
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 1;
}

.broccoli:hover {
    transform: scale(1.01);
    transition: .4s ease-in;
}
