{% load static %}
{% load my_filters %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥦</text></svg>">
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link rel="stylesheet" href='{% static "css/recipes.css" %}'>
    </head>
    <body>
        <img class="broccoli" src="https://static.vecteezy.com/system/resources/previews/023/225/197/original/cute-green-broccoli-free-png.png"/>
        {% block content %}{% endblock content %}
        <footer>
            Made with love by Scrumptious Recipes
        </footer>
    </body>
</html>
